form{
    display: flex;
    div{
        width: 50%;
        #ex{
            color: rgba(82, 82, 82, 0.808);
            font-size: x-small;
        }
    }
}
#formResult{
    background-color: #efefef;
    margin-left: 10%;
    width: 80%;
    height: 35px;
    margin-top: 10vh;
    border: 2px rgba(190, 190, 190, 0.712) solid;
    border-radius: 5px;
    span{
        // position: relative;
        top: 50px;
        margin-right: 35px;
    }
}
#lowersection{
    display: flex;
    div{
        width: 50%;
    }
}
#historySection{
    border: rgba(17, 22, 22, 0.842) 5px solid;
    border-radius: 12px;
    margin: 10px 10px;
}